.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

.line {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 2px;
  animation: blink-grey 1.5s infinite ease-in-out;
}

.line:nth-child(1) {
  animation-delay: 0s;
}

.line:nth-child(2) {
  animation-delay: 0.3s;
}

.line:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink-grey {
  0% {
    background-color: #ccc;
  }
  50% {
    background-color: #999;
  }
  100% {
    background-color: #ccc;
  }
}
.fixed {
  position: fixed; /* Keep it fixed on the screen */
}

.transform {
  transform: translateX(100%); /* Initially off the screen */
}

.transition-transform {
  transition: transform 0.3s ease-in-out; /* Smooth sliding effect */
}

.translate-x-0 {
  transform: translateX(0); /* Move it to its original position */
}

.translate-x-full {
  transform: translateX(100%); /* Slide out completely to the right */
}
/* active deactive button */

.switch {
  --secondary-container: #2aaa8a;
  --primary: white;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.4em;
  height: 1.5em;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.2s;
  border-radius: 30px;
  border: 1px solid #2aaa8a;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #2aaa8a;
  transition: 0.4s;
}

input:checked + .slider::before {
  background-color: var(--primary);
}

input:checked + .slider {
  background-color: var(--secondary-container);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
}

input:checked + .slider:before {
  transform: translateX(1.9em);
}

/* menu bar */
.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
}

.bars {
  width: 100%;
  height: 4px;
  background: #0047ad;

  border-radius: 4px;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}

#bar2 {
  transition-duration: 0.8s;
  width: 90%;
}

#bar1 {
  width: 100%;
}
#bar3 {
  width: 60%;
}

.menu-open .bars {
  position: absolute;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}

.menu-open #bar2 {
  transform: scaleX(0);
}

.menu-open #bar1 {
  width: 100%;
  transform: rotate(45deg);
}

.menu-open #bar3 {
  width: 100%;
  transform: rotate(-45deg);
}

.menu-open {
  transform: rotate(180deg);
}
/* Menu container styles */
.menu-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.menu-container.open {
  max-height: 100vh;
  transition: max-height 0.5s ease-in-out;
}
.menu-container.closed {
  max-height: 0;
  transform: translateY(-100%);
}
.sm\\:flex {
  transition: transform 0.5s ease-in-out;
  transform: translateY(-100%);
}

.menu-container.open .sm\\:flex {
  transform: translateY(0);
}
.menu-container.close .sm\\:flex {
  transform: translateY(0); /* Translate back to the bottom */
}
